<!DOCTYPE html>
<html>
<head>
	<link href = "/assets/styles.css" rel = "stylesheet" type = "text/css">
	<style>
	.b{
	  font-family: "Roboto", sans-serif;
	  text-transform: capitalize;
	  outline: 0;
	  background: #4CAF50;
	  width: 100%;
	  border: 0;
	  padding: 15px;
	  color: #FFFFFF;
	  font-size: 14px;
	  vertical-align: bottom;
	  -webkit-transition: all 0.3 ease;
	  transition: all 0.3 ease;
	  cursor: pointer;
	  
	  margin-top:55%;
}
.b:hover,.form button:active,.form button:focus {
  background: #43A047;
	}
.c{
	  font-family: "Roboto", sans-serif;
	  text-transform: capitalize;
	  outline: 0;
	  background: #4CAF50;
	  width: 100%;
	  border: 0;
	  padding: 15px;
	  color: #FFFFFF;
	  font-size: 14px;
	  vertical-align: top;
	  -webkit-transition: all 0.3 ease;
	  transition: all 0.3 ease;
	  cursor: pointer;
	  
	  margin-top: 0px;
}
.c:hover,.form button:active,.form button:focus {
  background: #43A047;
	}
</style>
</head>
<body>
	<div class="parent">
	<div class="name"><h2>The Kitchen Restaurant: Bill</h2></div>
	<div class="grat">
		<%=name%> Your payment was successfull. Your order will soon be delivered.
	</div>
</div>
</body>
</html>