<html>
<head>
	<link href = "/assets/styles.css" rel = "stylesheet" type = "text/css">
	</head>
	<body>
<div class="login-page">
	<p class="outset"><h3 style="text-align: center">The Kitchen Restaurant</p>
  <div class="form">
    <form class="login-form" action="/userAuth" method="POST">
      <input type="text"  name="fname" required placeholder="username"/>
      <input type="email" name="email" required placeholder="email"/>
      <input type="text" name="phone" required required placeholder="phone"/>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
</body>
</html>